*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 1024px;
    height: 768px;
    background-color: #3021bf;
}

.logo{
    position: absolute;
    top: 10px;
    left: 1000px;
}
h1{
    color: #fff;
    font-family: 'Changa', sans-serif;
    position: absolute;
    left: 641px;
    top: 146px;
    transform: scale(2.6)
}

.div1{
    background-color: #000;
    width: 1091px;
    height: 400;
    border-radius: 50px;
    opacity: 40%;
    position: absolute;
    top: 259px;
    left: 115px;
    color: #fff; 
}

p{
    width: 1000px;
    height: 200px;
    direction: rtl;
    font-size: 26px;
    position: absolute;
    left: 43px;
    top: 29px;
    font-family: 'Changa', sans-serif;
}

.btn{
    width: 180px;
    height: 59px;
    position: absolute;
    top: 175px;
    left: 312px;
    background-color: #23d87d;
    border-radius: 30px;
}
a{
    color: #fff;
    position: absolute;
    top: -13px;
    left: 28px;
    font-size: 44px;
    font-family: 'Changa', sans-serif;
    
}



@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
*{
margin: 0px;
padding: 0px;
}

body{
    width: 1024px;
    height: 768px;
    background-color: #3021bf;
}

.logo{
    position: absolute;
    top: 10px;
    left: 680px;
    width: 532px;
    height: 272px
}
h1{
    color: #fff;
    font-family: 'Changa', sans-serif;
    position: absolute;
    left: 764px;
    top: 462px;
    transform: scale(4.6);
}

.div1{
    background-color: #000;
    width: 1108px;
    height: 1241px;
    border-radius: 50px;
    opacity: 40%;
    position: absolute;
    top: 700;
    left: 60px;
    color: #fff;
}

p{
    width: 1000px;
    height: 200px;
    direction: rtl;
    font-size: 45px;
    position: absolute;
    left: 43px;
    top: 29px;
    font-family: 'Changa', sans-serif;
}

.btn{
    width: 180px;
    height: 59px;
    position: absolute;
    top: 496px;
    left: 312px;
    background-color: #23d87d;
    border-radius: 30px;
    transform: scale(2)
}
a{
    color: #fff;
    position: absolute;
    top: -13px;
    left: 28px;
    font-size: 44px;
    font-family: 'Changa', sans-serif;
    
}
    
}
    
    





















